<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>TASK ADD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.5.5/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">任务名称</label>
        <div class="layui-input-block">
            <textarea rows="1" required lay-verify="required" class="layui-textarea" name="task_name"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">所属厂商</label>
        <div class="layui-input-block">
            <select name="task_company" lay-verify="required" lay-search>
                <option value="">直接选择厂商或搜索选择</option>
                {% for company_name in companylist %}
                    <option value="{{ company_name }}">{{ company_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">所属类型</label>
        <div class="layui-input-block">
            <select name="task_type" lay-verify="required" lay-filter="task_type">
                <option value="">选择类型</option>
                <option value="WEB">WEB</option>
                <option value="主机">主机</option>
                <option value="APP">APP</option>
                <option value="固件">固件</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">循环周期</label>
        <div class="layui-input-block">
            <select name="task_cycle" lay-verify="required">
                <option value="">选择周期</option>
                <option value=1>仅扫描一次</option>
                <option value=2>一天一次</option>
                <option value=3>一周一次</option>
                <option value=4>两周一次</option>
                <option value=5>一月一次</option>
            </select>
        </div>
    </div>
    <div id="task-info" class="layui-form-item" style="display: none">
        <label class="layui-form-label required">任务信息</label>
        <div class="layui-input-block">
            <textarea rows="8" required lay-verify="required" id="task-message" class="layui-textarea"
                      name="task_message"></textarea>
            <tip>输入格式：</tip>
            <br/>
            <tip>xxx.example.com 直接给出子域名</tip>
            <br/>
            <tip>8.8.8.8 扫描某个IP</tip>
            <br/>
            <tip>8.8.8.0/24 扫描C段</tip>
        </div>
    </div>
    <div id="task-upload" class="layui-form-item" style="display: none">
        <label class="layui-form-label required">文件列表</label>
        <div class="layui-input-block">
            <textarea rows="1" required lay-verify="required" id="file-name" class="layui-textarea" name="file_name"
                      readonly="readonly"></textarea>
        </div>
        <div class="layui-input-block">
            <tip>支持*.xapk, *.apk, *.zip, *.ipa, *.appx文件</tip>
            <br/>
            <tip>请确保您选择的文件已上传</tip>
            <br/>
            <tip>&nbsp;</tip>
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-primary layui-border-black layui-btn-sm data-add-btn"
                        id="app-select">选择
                </button>
                <button class="layui-btn layui-btn-primary layui-border-black layui-btn-sm data-add-btn"
                        id="app-upload">上传
                </button>
                <button class="layui-btn layui-btn-primary layui-border-black layui-btn-sm data-add-btn"
                        id="firm-select">选择
                </button>
                <button class="layui-btn layui-btn-primary layui-border-black layui-btn-sm data-add-btn"
                        id="firm-upload">上传
                </button>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="taskadd">确认添加</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='lib/layui-v2.5.5/layui.js') }}" charset="utf-8"></script>
<script>
    layui.use(['form', 'upload'], function () {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            $ = layui.$;
        form.on('select(task_type)', function (data) {
            if (data.value === 'WEB' || data.value === '主机') {
                $("#task-upload").attr("style", "display:none;");
                $("#file-name").removeAttr("lay-verify", "required");
                $("#task-info").attr("style", "display:block;");
                $("#task-message").attr("lay-verify", "required");
            } else {
                $("#task-upload").attr("style", "display:block;");
                $("#file-name").attr("lay-verify", "required");
                $("#task-info").attr("style", "display:none;");
                $("#task-message").removeAttr("lay-verify", "required");
                if (data.value === 'APP') {
                    $("#project-select").removeAttr("style", "display:none;");
                    $("#project-upload").removeAttr("style", "display:none;");
                    $("#firm-select").attr("style", "display:none;");
                    $("#firm-upload").attr("style", "display:none;");
                } else {
                    $("#firm-select").removeAttr("style", "display:none;");
                    $("#firm-upload").removeAttr("style", "display:none;");
                    $("#project-select").attr("style", "display:none;");
                    $("#project-upload").attr("style", "display:none;");
                }
            }

        });
        //监听提交
        form.on('submit(taskadd)', function (data) {
            $.ajax({
                url: "{{ url_for('api_info_task') }}",
                data: JSON.stringify(data.field),
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                type: 'put',
                success: function (result) {
                    if (result.status_code === 200) {
                        var index = layer.alert('新增任务成功!', {
                            title: '提示',
                            icon: 1
                        }, function () {
                            parent.layui.table.reload("currentTable_task");
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    } else {
                        layer.alert(result.msg, {
                            title: '提示',
                            icon: 2
                        })
                    }
                },
                error: function (e) {
                    layer.alert(JSON.stringify(e), {title: '提示', icon: 2})
                }
            })
            return false;
        });

        upload.render({
            elem: '#project-select',
            url: "{{ url_for('api_info_task') }}",
            accept: 'file',
            exts: 'apk|ipa|zip|appx|xapk',
            multiple: true,
            number: 0,
            drag: true,
            auto: false,
            bindAction: '#project-upload',
            choose: function (obj) {
                var files = obj.pushFile();
                let fname = "";
                for (let f in files) {
                    fname += files[f].name + "\n";
                }
                fname.trim();
                $('#file-name').val(fname);
            },
            done: function (res) {
                //上传完毕回调
                if (res.code === 200) {
                    layer.alert(res.msg, {title: '提示', icon: 1})
                } else {
                    layer.alert(res.msg, {title: '提示', icon: 2})
                }
            },
            error: function () {
                //请求异常回调
            },
        });
        upload.render({
            elem: '#firm-select',
            url: "{{ url_for('api_info_task') }}",
            accept: 'file',
            exts: 'bin',
            multiple: true,
            number: 0,
            drag: true,
            auto: false,
            bindAction: '#firm-upload',
            choose: function (obj) {
                var files = obj.pushFile();
                let fname = "";
                for (let f in files) {
                    fname += files[f].name + "\n";
                }
                fname.trim();
                $('#file-name').val(fname);
            },
            done: function (res) {
                //上传完毕回调
                if (res.code === 200) {
                    layer.alert(res.msg, {title: '提示', icon: 1})
                } else {
                    layer.alert(res.msg, {title: '提示', icon: 2})
                }
            },
            error: function () {
                //请求异常回调
            },
        });
    });
</script>
</body>
</html>