<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{ company['ename'] }}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.5.5/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome-4.7.0/css/font-awesome.min.css') }}"
          media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
    <style>
        .layui-card {
            border: 1px solid #f2f2f2;
            border-radius: 5px;
        }

        .icon-green {
            margin-right: 10px;
            color: #1aa094;
        }

        .icon-black {
            margin-right: 10px;
            color: #130731;
        }

        .icon-blue {
            margin-right: 10px;
            color: #1e9fff;
        }

        .icon-yellow {
            margin-right: 10px;
            color: #a3702d;
        }

        .icon-red {
            color: #ff5722;
            margin-right: 10px;
        }

        .layuimini-qiuck-module {
            text-align: center;
            margin-top: 10px
        }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

        .welcome-module {
            width: 100%;
            height: 210px;
        }

        .panel {
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
        }

        .panel-body {
            padding: 10px
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 12px;
            color: inherit
        }

        .label {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
            margin-top: .3em;
        }

        .layui-red {
            color: red
        }

        .main_btn > p {
            height: 40px;
        }

        .layui-bg-number {
            background-color: #F8F8F8;
        }

        .card-header {
            font-family: \u5E7C\u5706, sans-serif;
            font-weight: bold;
            font-size: 20px;
            line-height: 45px;
            text-align: left;
            height: 50px;
            border-style: none;
            border-top-left-radius: 23px;
            border-top-right-radius: 23px;
        }
    </style>
</head>
<script>
    function back() {
        window.history.back()
    }
</script>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field">
            <div class="layui-btn-container" style="display: inline-block;float: right">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="back" onclick="back()">
                    返回
                </button>
            </div>
            <legend style="font-size: xx-large;font-weight: bolder">{{ company['ename'] }}</legend>
            <br>
            <br>
            <fieldset class="layui-elem-field ">
                <legend style="font-size:18px;font-family:\u5E7C\u5706,sans-serif;">资产分布</legend>
                <!--主机数、web数、APP数、固件数的列间距为15px，分别占3列
                        每一项采用card来布局：
                            header：数据标题
                            body：数据表格
                -->
                <div class="layui-row layui-col-space15 ">
                    <!-- [1,1] 主机数-->
                    <div class="layui-col-md12">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header card-header layui-bg-cyan">
                                    <i class="fa fa-laptop" style="margin-right: 10px;
                                        color: #ffffff;"></i>主机数：{{ company['count']['host'] }}
                                </div>
                                <div class="layui-card-body ">
                                    <table id="HostTableId" lay-filter="HostTableFilter"></table>
                                </div>
                            </div>
                        </div>
                        <!-- [1,2] Web数-->
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header card-header layui-bg-green">
                                    <i class="fa fa-skyatlas" style="margin-right: 10px;
                                    color: #ffffff;"></i>Web数：{{ company['count']['web'] }}
                                </div>
                                <div class="layui-card-body ">
                                    <table id="WebTableId" lay-filter="WebTableFilter"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-col-md6">
                            <!-- [1,3] APP数-->
                            <div class="layui-card">
                                <div class="layui-card-header card-header "
                                     style="background-color: #2f738d ;color: #ffffff;">
                                    <i class=" fa fa-mobile" style="margin-right: 10px;
                                    color: #ffffff;"></i>App数：{{ company['count']['app'] }}
                                </div>
                                <div class="layui-card-body ">
                                    <table id="AppTableId" lay-filter="AppTableFilter"></table>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <!-- [1,4] 固件数-->
                            <div class="layui-card">
                                <div class="layui-card-header  card-header "
                                     style="background-color: #42465f ;color: #ffffff;">
                                    <i class="fa fa-gavel" style="margin-right: 10px;
                                    color: #ffffff;"></i>固件数：{{ company['count']['firmware'] }}
                                </div>
                                <div class="layui-card-body ">
                                    <table id="FirmwareTableId" lay-filter=" FirmwareTableFilter"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field ">
                <legend style="font-size:18px;font-family:\u5E7C\u5706,sans-serif;">漏洞趋势</legend>
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div id="VulEchartsID" style="background-color:#ffffff;width: 100%;min-height:500px"></div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field ">
                <legend style="font-size:18px;font-family:\u5E7C\u5706,sans-serif;">漏洞分布</legend>
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div id="VulnHostEchartsID"
                             style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                    </div>
                    <div class="layui-col-md6">
                        <div id="VulnWebEchartsID"
                             style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                    </div>
                    <div class="layui-col-md6">
                        <div id="VulnAppEchartsID"
                             style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                    </div>
                    <div class="layui-col-md6">
                        <div id="VulnFirmwareEchartsID"
                             style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                    </div>
                </div>
            </fieldset>
        </fieldset>
    </div>
</div>

<script src="{{ url_for('static', filename='lib/layui-v2.5.5/layui.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/lay-config.js', v=1.0.4) }}" charset="utf-8"></script>
<script>
    layui.use(['table', 'echarts'], function () {
        var table = layui.table,
            echarts = layui.echarts,
            $ = layui.jquery;

        table.render({
            elem: '#HostTableId',
            url: "{{ url_for('api_func_asset_host', ename=company['ename']) }}",
            skin: 'nob',
            height: 269,
            cols: [[
                {field: 'name', align: 'center', title: 'IP', templet: '#asset_tpl'},
                {field: 'netbios-name', align: 'center', title: 'Name'},
                {field: 'os', align: 'center', title: 'OS', minWidth: 300}
            ]],
            page: {
                limit: 5,
                limits: [5, 10, 20, 25, 50, 100],
                theme: '#3a4b5b'
            }
        });
        table.render({
            elem: '#WebTableId',
            url: "{{ url_for('api_func_asset_web', ename=company['ename']) }}", //数据接口
            skin: 'nob',
            height: 269,
            cols: [[
                {field: 'name', align: 'center', title: 'DOMAIN', templet: '#asset_tpl'},
                {field: 'ip', align: 'center', title: 'IP'},
                {field: 'title', align: 'center', title: 'Title'},
            ]],
            page: {
                limit: 5,
                limits: [5, 10, 20, 25, 50, 100],
                theme: '#009688'
            }
        });
        table.render({
            elem: '#AppTableId',
            url: "{{ url_for('api_func_asset_app', ename=company['ename']) }}", //数据接口
            skin: 'nob',
            height: 269,
            cols: [[
                {field: 'name', align: 'center', title: 'Name'},
                {field: 'package_name', align: 'center', title: 'Package Name'},
                {field: 'android_version', align: 'center', title: 'Android Version'},
                {field: 'average_cvss', align: 'center', title: 'CVSS'},
            ]],
            page: {
                limit: 5,
                limits: [5, 10, 20, 25, 50, 100],
                theme: '#2f738d'
            }
        });
        table.render({
            elem: '#FirmwareTableId',
            url: "{{ url_for('api_func_asset_firm', ename=company['ename']) }}",
            skin: 'nob',
            height: 269,
            cols: [[
                {field: 'name', align: 'center', title: 'Name', minWidth: 793}
            ]],
            page: {
                limit: 5,
                limits: [5, 10, 20, 25, 50, 100],
                theme: '#42465f'
            }
        })

        var echartsRecords = echarts.init(document.getElementById('VulEchartsID'), 'walden');
        $.get("{{ url_for('api_func_company_trends', company=company['ename']) }}").done(function (data) {
            let day_list = []
            let host_count = []
            let web_count = []
            let app_count = []
            let firm_count = []
            for (let i = 0; i < data.length; i++) {
                day_list.push(data[i]['date'])
                host_count.push(data[i]['host'])
                web_count.push(data[i]['web'])
                app_count.push(data[i]['app'])
                firm_count.push(data[i]['firm'])
            }
            echartsRecords.setOption({
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['主机漏洞', 'Web漏洞', 'APP漏洞', '固件漏洞']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: day_list
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '主机漏洞',
                        type: 'line',
                        data: host_count
                    },
                    {
                        name: 'Web漏洞',
                        type: 'line',
                        data: web_count
                    },
                    {
                        name: 'APP漏洞',
                        type: 'line',
                        data: app_count
                    },
                    {
                        name: '固件漏洞',
                        type: 'line',
                        data: firm_count
                    }
                ]
            })
        })


        // echarts 窗口缩放自适应
        window.onresize = function () {
            echartsRecords.resize();
        }

        var echartsPiesHost = echarts.init(document.getElementById('VulnHostEchartsID'), 'walden');
        $.get("{{ url_for('api_func_company_info', company=company['ename'], asset_type='主机') }}").done(function (data) {
            let hosts = []
            for (let i = 0; i < data.length; i++) {
                hosts.push(data[i]['name'])
            }
            echartsPiesHost.setOption({
                title: {
                    text: '主机漏洞分布图',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: hosts,
                },
                series: [
                    {
                        name: '漏洞归属IP',
                        type: 'pie',
                        radius: [30, 100],
                        center: ['50%', '60%'],
                        {#roseType: 'radius',#}
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            })
        })
        var echartsPiesWeb = echarts.init(document.getElementById('VulnWebEchartsID'), 'walden');
        $.get("{{ url_for('api_func_company_info', company=company['ename'], asset_type='WEB') }}").done(function (data) {
            let domains = []
            for (let i = 0; i < data.length; i++) {
                domains.push(data[i]['name'])
            }
            echartsPiesWeb.setOption({
                title: {
                    text: 'Web漏洞分布图',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: domains,
                },
                series: [
                    {
                        name: '漏洞归属域名',
                        type: 'pie',
                        radius: [30, 100],
                        center: ['50%', '60%'],
                        {#roseType: 'radius',#}
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            })
        })
        var echartsPiesApp = echarts.init(document.getElementById('VulnAppEchartsID'), 'walden');
        $.get("{{ url_for('api_func_company_info', company=company['ename'], asset_type='APP') }}").done(function (data) {
            let domains = []
            for (let i = 0; i < data.length; i++) {
                domains.push(data[i]['name'])
            }
            echartsPiesApp.setOption({
                title: {
                    text: 'App漏洞分布图',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: domains,
                },
                series: [
                    {
                        name: '漏洞归属App',
                        type: 'pie',
                        radius: [30, 100],
                        center: ['50%', '60%'],
                        {#roseType: 'radius',#}
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            })
        })
        var echartsPiesFirm = echarts.init(document.getElementById('VulnFirmwareEchartsID'), 'walden');
        $.get("{{ url_for('api_func_company_info', company=company['ename'], asset_type='固件') }}").done(function (data) {
            let domains = []
            for (let i = 0; i < data.length; i++) {
                domains.push(data[i]['name'])
            }
            echartsPiesFirm.setOption({
                title: {
                    text: '固件漏洞分布图',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: domains,
                },
                series: [
                    {
                        name: '漏洞归属固件',
                        type: 'pie',
                        radius: [30, 100],
                        center: ['50%', '60%'],
                        {#roseType: 'radius',#}
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            })
        })
    });
</script>
<script type="text/html" id="asset_tpl">
    {% raw %}
    <a href="/func/asset/{{ d.name }}">{{ d.name }}</a>
    {% endraw %}
</script>
</body>

</html>