<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Extensions Manage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.5.5/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <table class="layui-hide" id="currentTable_task" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            {% raw %}
            <a class="layui-btn layui-btn-xs layui-btn-normal data-count-start" lay-event="info"
               href="/func/poc/task/{{ d.objid }}">修改配置</a>
            {% endraw %}
        </script>

    </div>
</div>
<script src="{{ url_for('static', filename='lib/layui-v2.5.5/layui.js') }}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTable_task',
            url: "{{ url_for('api_ext') }}",
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {field: 'id', width: 80, title: 'ID', align: "center", sort: true},
                {field: 'name', title: '插件名称', align: "left", templet: '#ext_name_tpl', sort: true},
                {
                    field: 'status', title: '插件状态', align: "right", templet: function (d) {
                        if (d.status) {
                            return '<input type="checkbox" id="uswitch" name="switch" value="' + d.status + '"lay-skin="switch" lay-text="启用|停用" checked lay-filter="extswitch">'
                        } else {
                            return '<input type="checkbox" id="uswitch" name="switch" value="' + d.status + '"lay-skin="switch" lay-text="启用|停用" lay-filter="extswitch">'
                        }
                    }
                },
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 20,
            page: true,
            skin: 'line'
        });

        form.on('switch(extswitch)', function (obj) {
            {#let onoff = this.checked ? '0' : '1';#}
            {#console.log(onoff, this.value);#}
            let extname = payl(this);
            $.ajax({
                url: "{{ url_for('api_ext') }}",
                data: JSON.stringify({'name': extname}),
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                type: 'put',
            })
        });

        function payl(boj) {
            return $(boj).parent().parent().parent("tr").children('td').eq(1).children('div').children('span').children('strong').html();
        }

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'start') {
                layer.confirm('确定启用该插件吗?', function (index) {
                    $.ajax({
                        url: "{{ url_for('api_ext') }}",
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                        dataType: 'json',
                        type: 'post',
                    })
                });
            }
            if (obj.event === 'stop') {
                layer.confirm('确定删除该资产吗?', function (index) {
                    $.ajax({
                        url: "{{ url_for('api_func_asset') }}",
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                        dataType: 'json',
                        type: 'post',
                        success: function (result) {
                            if (result.status_code === 200) {
                                layer.alert('删除资产成功!', {title: '提示', icon: 1})
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.alert(result.msg, {title: '提示', icon: 2})
                            }
                        },
                        error: function (e) {
                            layer.alert(JSON.stringify(e), {title: '提示', icon: 2})
                        }
                    })
                });
            }
        });
    });
</script>
<script type="text/html" id="ext_name_tpl">
    {% raw %}
    <span style="text-transform: uppercase;"><strong>{{ d.name }}</strong></span>
    {% endraw %}
</script>
</body>
</html>