<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Poc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.5.5/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">POC</label>
                            <div class="layui-input-inline">
                                <input type="text" name="poc_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" id="poc-upload"> 上传POC</button>
                <button class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm"><a
                        href="https://github.com/knownsec/pocsuite3/blob/master/docs/CODING.md"
                        target="_blank" style="color: lightskyblue">POC撰写规范</a></button>
            </div>
        </script>

        <table class="layui-hide" id="currentTable_task" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="{{ url_for('static', filename='lib/layui-v2.5.5/layui.js') }}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'upload'], function () {
        var $ = layui.jquery,
            upload = layui.upload,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTable_task',
            url: "{{ url_for('api_poc') }}",
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {field: 'id', width: 80, align: "center", title: 'ID', sort: true},
                {field: 'filename', hide: true},
                {field: 'name', width: 600, title: 'POC名称', align: "left", sort: true},
                {field: 'appName', title: '影响组件', templet: "#app_tpl", align: "center", sort: true},
                {field: 'appVersion', width: 300, title: '组件版本', align: "center"},
                {field: 'vulType', title: '漏洞类型', templet: "#vuln_type_tpl", align: "center", sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 20,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);

            //执行搜索重载
            table.reload('currentTable_task', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');
            return false;
        });

        //执行实例
        var uploadInst = upload.render({
            elem: '#poc-upload', //绑定元素
            url: "{{ url_for('api_poc') }}", //上传接口
            accept: 'file',
            exts: 'py',
            multiple: true,
            drag: true,
            done: function (res) {
                //上传完毕回调
                if (res.code === 200) {
                    layer.alert(res.msg, {title: '提示', icon: 1})
                } else {
                    layer.alert(res.msg, {title: '提示', icon: 2})
                }
            },
            error: function () {
                //请求异常回调
            },
        });
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                layer.confirm('确定删除该POC吗?', function (index) {
                    $.ajax({
                        url: "{{ url_for('api_poc') }}",
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            if (result.status_code === 200) {
                                layer.alert('删除POC成功!', {title: '提示', icon: 1})
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.alert(result.msg, {title: '提示', icon: 2})
                            }
                        },
                        error: function (e) {
                            layer.alert(JSON.stringify(e), {title: '提示', icon: 2})
                        }
                    })
                });
            }
        });
    });
</script>
<script type="text/html" id="app_tpl">
    {% raw %}
    <span class="layui-badge layui-bg-black">{{ d.appName }}</span>
    {% endraw %}
</script>
<script type="text/html" id="vuln_type_tpl">
    {% raw %}
    <span class="layui-badge layui-bg-blue">{{ d.vulType }}</span>
    {% endraw %}
</script>
</body>
</html>