<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.5.5/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-normal" id="btn-fold">全部折叠</button>
            </div>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加任务</button>
    </div>
</script>
<!-- 任务操作列 -->
<script type="text/html" id="task-tool">
    <a class="layui-btn layui-btn-xs layui-btn-sm data-count-start" lay-event="start">开始</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
</script>


<script src="{{ url_for('static', filename='lib/layui-v2.5.5/layui.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/lay-config.js', v=1.0.4) }}" charset="utf-8"></script>
<script>
    layui.use(['table', 'treetable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;

        // 渲染表格
        layer.load(2);
        var insTb = treetable.render({
            treeColIndex: 1,
            treeSpid: -1,
            treeIdName: 'authorityId',
            treePidName: 'parentId',
            toolbar: '#toolbarDemo',
            elem: '#munu-table',
            url: "{{ url_for('api_func_task') }}",
            page: false,
            cols: [[
                {type: 'numbers'},
                {field: 'name', minWidth: 200, title: '名称'},
                {field: 'company', width: 150, align: 'center', title: '厂商'},
                {field: 'type', width: 80, align: 'center', title: '类型'},
                {field: 'status', width: 150, align: 'center', templet: '#task_flag_tpl', title: '状态'},
                {field: 'time', width: 250, align: 'center', title: '创建/完成时间'},
                {
                    field: 'isMenu', width: 80, align: 'center', templet: function (d) {
                        if (d.parentId == -1) {
                            return '<span class="layui-badge layui-bg-blue">任务</span>';
                        } else {
                            return '<span class="layui-badge-rim">资产</span>';
                        }
                    }, title: '类型'
                },
                {
                    width: 120, align: 'center', title: '操作', templet: function (d) {
                        if (d.parentId == -1) {
                            return '<a class="layui-btn layui-btn-xs layui-btn-sm data-count-start" lay-event="start">开始</a>\n' +
                                '<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="taskdelete">删除</a>';
                        } else {
                            return '<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="assetdelete">删除</a>';
                        }
                    }
                }
            ]],
            done: function () {
                layer.closeAll('loading');
            }
        });

        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });

        //监听工具条
        table.on('toolbar(munu-table)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加任务',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: "{{ url_for('html_func_task_add') }}",
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });
        table.on('tool(munu-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'start') {
                layer.confirm('确定开始该任务吗?', function (index) {
                    layer.alert('信息搜集开始!', {title: '提示', icon: 1})
                    layer.close(index);
                });
                $.ajax({
                    url: "{{ url_for('api_func_info') }}",
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                    type: 'post',
                })
            }
            if (layEvent === 'taskdelete') {
                layer.confirm('确定删除该任务吗?', function (index) {
                    $.ajax({
                        url: "{{ url_for('api_func_task') }}",
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            if (result.status_code === 200) {
                                layer.alert('删除任务成功!', {title: '提示', icon: 1})
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.alert(result.msg, {title: '提示', icon: 2})
                            }
                        },
                        error: function (e) {
                            layer.alert(JSON.stringify(e), {title: '提示', icon: 2})
                        }
                    })
                });
            }
            if (layEvent === 'assetdelete') {
                layer.confirm('确定删除该资产吗?', function (index) {
                    $.ajax({
                        url: "{{ url_for('api_func_asset') }}",
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            if (result.status_code === 200) {
                                layer.alert('删除资产成功!', {title: '提示', icon: 1})
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.alert(result.msg, {title: '提示', icon: 2})
                            }
                        },
                        error: function (e) {
                            layer.alert(JSON.stringify(e), {title: '提示', icon: 2})
                        }
                    })
                });
            }
        });
    });
</script>
<script type="text/html" id="task_flag_tpl">
    {% raw %}
    {{# if(d.status === '未开始' ){ }}
    <span style="color: #334CFF;">{{ d.status }}</span>
    {{#  } else if(d.status === '未探测' ){ }}
    <span style="color: #334CFF;">{{ d.status }}</span>
    {{#  } else if(d.status === '已完成' ){ }}
    <span style="color: #15b664;">{{ d.status }}</span>
    {{#  } else if(d.status === '探测完成' ){ }}
    <span style="color: #15b664;">{{ d.status }}</span>
    {{#  } else { }}
    <span style="color: #ff3333;">{{ d.status }}</span>
    {{#  } }}
    {% endraw %}
</script>
</body>
</html>