<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../static/css/public.css" media="all">
</head>
<style>
    .layui-top-box {padding:40px 20px 20px 20px;color:#fff}
    .panel {margin-bottom:17px;background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:15px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:14px;color:inherit}
    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
    .layui-red {color:red}
    .main_btn > p {height:40px;}
    .select-label {font-size:17px;}
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main layui-top-box">
        <div class="layui-row">
            <!-- [1,1] -->
            <div class="layui-col-md3">
                <div class="col-xs-6 col-md3">
                    <div class="panel layui-bg-cyan">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-green">实时</span>
                                <h1>厂商总数</h1>
                            </div>
                            <div class="panel-content">
                                <form class=“layui-form” action="">
                                    <div class="layui-form-item">
                                        <div class="select-label">
                                                厂商列表：
                                                <select name="company" lay-verify="required">
                                                    <option value="">请选择厂商</option>
                                                    <option value="1">厂商1</option>
                                                    <option value="2">厂商2</option>
                                                    <option value="3">厂商3</option>
                                                </select>
                                        </div>
                                    </div>
                                </form>
                                <h3>任务总数：1234</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [1,2] -->
            <div class="layui-col-md3 layui-col-md-offset1">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-gray layui-bg-number">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-red">实时</span>
                                <h1>资产概要</h1>
                            </div>
                            <div class="panel-content">
                                <h3 class="no-margins ">主机扫描数：1234</h3>
                                <h3>&nbsp;</h3>
                                <h3 class="no-margins ">域名扫描数：1234</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [1,3] -->
            <div class="layui-col-md3 layui-col-md-offset1">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-blue">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-orange">实时</span>
                                <h1>Web指纹</h1>
                            </div>
                            <div class="panel-content">
                                <div class="panel-content">
                                    <h3 class="no-margins ">主机扫描数：1234</h3>
                                    <h3>&nbsp;</h3>
                                    <h3 class="no-margins ">域名扫描数：1234</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [2,1] -->
            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-green">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-cyan">实时</span>
                                <h1>弱口令统计</h1>
                            </div>
                            <div class="panel-content">
                                <h3 class="no-margins ">SSH：1234</h3>
                                <h3 class="no-margins ">MySQL：1234</h3>
                                <h3 class="no-margins ">FTP：1234</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [2,2] -->
            <div class="layui-col-md3 layui-col-md-offset1">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-red">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-gray">实时</span>
                                <h1>Web漏洞</h1>
                            </div>
                             <div class="panel-content">
                                <h3 class="no-margins ">SQL注入：1234</h3>
                                <h3 class="no-margins ">XSS注入：1234</h3>
                                <h3 class="no-margins ">XXE注入：1234</h3>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
            <!-- [2,3] -->
            <div class="layui-col-md3 layui-col-md-offset1">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-orange">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-blue">实时</span>
                                <h1>主机漏洞</h1>
                            </div>
                            <div class="panel-content">
                                <h3 class="no-margins ">SMB：1234</h3>
                                <h3 class="no-margins ">SMB：1234</h3>
                                <h3 class="no-margins ">SMB：1234</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-box">
    </div>

    <div class="layui-box">
    </div>
</div>
<script src="../static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<!-- 加载form模块，要不要下拉框调不出来 -->
<script type="text/javascript">
    layui.use(['form'], function(args){
      var form = layui.form;
    });
</script>
</body>
</html>