<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>ADD USER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.5.5/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="uname" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名"
                   class="layui-input">
            <tip>若用户名重复会添加失败</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">密码</label>
        <div class="layui-input-block">
            <input type="text" name="upassword" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">所属厂商</label>
        <div class="layui-input-block">
            <input type="text" name="company_name" lay-verify="required" lay-reqtext="厂商不能为空" placeholder="请输入厂商"
                   class="layui-input">
            <tip>若厂商不存在会添加失败</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="user_customer">确认添加</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='lib/layui-v2.5.5/layui.js') }}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(user_customer)', function (data) {
            $.ajax({
                url: "{{ url_for('api_user') }}",
                data: JSON.stringify(data.field),
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                type: 'put',
                success: function (result) {
                    if (result.status_code === 200) {
                        var index = layer.alert('新增用户成功!', {
                            title: '提示',
                            icon: 1
                        }, function () {
                            parent.layui.table.reload("currentTable_customer");
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    } else {
                        layer.alert(result.msg, {
                            title: '提示',
                            icon: 2
                        })
                    }
                },
                error: function (e) {
                    layer.alert(JSON.stringify(e), {title: '提示', icon: 2})
                }
            })
            return false;
        });
    });
</script>
</body>
</html>
