# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\UY\AIITProject\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/AIITProject.iml
/misc.xml
/modules.xml
/vcs.xml